<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eCommerce Backend</title>
  </style>
</head>

<body>
  <div>
    <div><a href='/swagger'>See the API Documentation</a></div>
  </div>
  </div>
</body>

</html>